---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav.svelte";
import Sections from "../components/sections.svelte";
---

<Layout title="Dikson's website">
	<main
		class="h-screen w-screen bg-orange-100/10 py-10 p-6 lg:py-10 lg:px-14 flex overflow-auto"
	>
		<Sections client:load />
		<Nav client:load />
	</main>
</Layout>
