---
import "../main.css";
import ThemeBtn from "../components/theme-btn.astro";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav.svelte";
import Sections from "../components/sections.svelte";
---

<Layout title="Dikson's website">
	<main class="page-main flex py-10 p-6 lg:py-10 lg:px-14">
		<ThemeBtn />
		<Sections client:load />
		<Nav client:load />
	</main>
</Layout>
